a.framework-test-a-vue {
    color: #42b883;
}

a.framework-test-a-react {
    color: #58c4dc;
}

a.framework-test-a-preact {
    color: #673ab8;
}

a.framework-test-a-lit {
    color: #2843f6;
}

a.framework-test-a-svelte {
    color: #f96743;
}

a.framework-test-a-solid {
    color: #446b9e;
}

a.framework-test-a-less {
    color: #1d365d;
}

a.framework-test-a-sass {
    color: #bf4080;
}

a.framework-test-a-stylus {
    color: #6da13f;
}

.framework-test-logo {
    height: 128px;
}

.framework-test-large-logo.framework-test-rotate-logo {
    height: 160px;
    animation: rotate-framework-test 8s linear infinite;
}

@keyframes rotate-framework-test {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
