:root {
	--ft-color-angular: #e53935;
	--ft-color-astro: #7c4dff;
	--ft-color-less: #0277bd;
	--ft-color-lit: #1e78dd;
	--ft-color-preact: #673ab8;
	--ft-color-react: #00d8ff;
	--ft-color-sass: #ec407a;
	--ft-color-solid: #76b3e1;
	--ft-color-stylus: #c0ca33;
	--ft-color-svelte: #ff3e00;
	--ft-color-typescript: #007acc;
	--ft-color-vite: #ccb18b;
	--ft-color-vue: #41b883;
	--ft-background-color-angular: #d02420;
	--ft-background-color-astro: #6738ea;
	--ft-background-color-less: #0262a8;
	--ft-background-color-lit: #0963c8;
	--ft-background-color-preact: #5225a3;
	--ft-background-color-react: #00c3ea;
	--ft-background-color-sass: #d72b65;
	--ft-background-color-solid: #619ecc;
	--ft-background-color-stylus: #abb51e;
	--ft-background-color-svelte: #ea2900;
	--ft-background-color-typescript: #0065b7;
	--ft-background-color-vite: #b79c76;
	--ft-background-color-vue: #2ca36e;
	--ft-border-color-angular: #bb0f0b;
	--ft-border-color-astro: #5223d5;
	--ft-border-color-less: #024d93;
	--ft-border-color-lit: #094eb3;
	--ft-border-color-preact: #3d108e;
	--ft-border-color-react: #00aed5;
	--ft-border-color-sass: #c21650;
	--ft-border-color-solid: #4c89b7;
	--ft-border-color-stylus: #96a009;
	--ft-border-color-svelte: #d51400;
	--ft-border-color-typescript: #0050a2;
	--ft-border-color-vite: #a28761;
	--ft-border-color-vue: #178e59;
	--ft-shadow-color-angular: #fa4e4a80;
	--ft-shadow-color-astro: #9162ff80;
	--ft-shadow-color-less: #178cd280;
	--ft-shadow-color-lit: #338df280;
	--ft-shadow-color-preact: #7c4fcd80;
	--ft-shadow-color-react: #15edff80;
	--ft-shadow-color-sass: #ec558f80;
	--ft-shadow-color-solid: #8bc8f680;
	--ft-shadow-color-stylus: #d5df4880;
	--ft-shadow-color-svelte: #ff531580;
	--ft-shadow-color-typescript: #158fe180;
	--ft-shadow-color-vite: #e1c6a080;
	--ft-shadow-color-vue: #56cd9880;
}
