.framework-test-counter-button-solid {
    color: #446b9e;
}

.framework-test-counter-button-solid:hover,
.framework-test-counter-button-solid:focus {
    border: 2px solid #446b9e66;
}

.framework-test-counter-button-solid:active {
    background-color: #446b9e33;
}
