.header-framework-test-svelte {
    color: var(--ft-color-svelte) !important;
    text-align: center;
}

.button-framework-test-svelte {
    color: #fff !important;
    background-color: var(--ft-color-svelte) !important;
    border-color: var(--ft-color-svelte) !important;
}

.button-framework-test-svelte:hover {
    color: #fff !important;
    background-color: var(--ft-background-color-svelte) !important;
    border-color: var(--ft-border-color-svelte) !important;
}

.button-framework-test-svelte:focus {
    color: #fff !important;
    background-color: var(--ft-background-color-svelte) !important;
    border-color: var(--ft-border-color-svelte) !important;
    box-shadow: 0 0 0 0.2rem var(--ft-shadow-color-svelte) !important;
}
