.framework-test-counter-button-preact {
    color: #764abc;
}

.framework-test-counter-button-preact:hover,
.framework-test-counter-button-preact:focus {
    border: 2px solid #764abc66;
}

.framework-test-counter-button-preact:active {
    background-color: #764abc33;
}
