.preact-counter-button {
    color: #764abc;
}

.framework-test-counter-button {
    appearance: none;
    background: none;
    font-size: 32px;
    padding: 0 12px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 8px;
    padding-bottom: 4px;
    cursor: pointer;
    background-color: rgba(112, 76, 182, 0.1);
    transition: all 0.15s;
}

.framework-test-counter-row > .framework-test-counter-button {
    margin: 0 8px 0 4px;
}

.preact-counter-button:hover,
.preact-counter-button:focus {
    border: 2px solid #764abc66;
}

.preact-counter-button:active {
    background-color: #764abc33;
}
