.btn-framework-test-preact {
    color: #fff !important;
    background-color: #764abc !important;
    border-color: #764abc !important;
}

.btn-framework-test-preact:hover,
.btn-framework-test-preact:active {
    color: #fff !important;
    background-color: #764abc66 !important;
    border-color: #764abc33 !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}
