a.framework-test-a-vue {
    color: var(--ft-color-vue);
}

a.framework-test-a-react {
    color: var(--ft-color-react);
}

a.framework-test-a-angular {
    color: var(--ft-color-angular);
}

a.framework-test-a-astro {
    color: var(--ft-color-astro);
}

a.framework-test-a-preact {
    color: var(--ft-color-preact);
}

a.framework-test-a-lit {
    color: var(--ft-color-lit);
}

a.framework-test-a-svelte {
    color: var(--ft-color-svelte);
}

a.framework-test-a-solid {
    color: var(--ft-color-solid);
}

a.framework-test-a-less {
    color: var(--ft-color-less);
}

a.framework-test-a-sass {
    color: var(--ft-color-sass);
}

a.framework-test-a-stylus {
    color: var(--ft-color-stylus);
}

a.framework-test-a-typescript {
    color: var(--ft-color-typescript);
}

a.framework-test-a-vite {
    color: var(--ft-color-vite);
}

.framework-test-logo {
    height: 128px;
}

.framework-test-rotate-logo {
    animation: rotate-framework-test 8s linear infinite;
}

.framework-test-text-align {
    text-align: center;
}

@keyframes rotate-framework-test {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
