/* Only used to test the loader's css rules, please choose your desired css preprocessor */

.b4-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.b4-row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.b4-row > * {
    flex: 0 0 33%;
    max-width: 33%;
    position: relative;
    width: 100%;
}

ul.vue-test-class > li > div,
ul.react-test-class > li > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3.vue-test-class,
h3.react-test-class {
    margin: 40px 0 0;
}

ul.vue-test-class,
ul.react-test-class {
    list-style-type: none;
    padding: 0;
}

ul.vue-test-class > li,
ul.react-test-class > li {
    display: inline-block;
    margin: 0 10px;
}
a.vue-test-class-vue,
a.react-test-class-vue {
    color: #42b883;
}

a.vue-test-class-pinia,
a.react-test-class-pinia {
    color: #ffd859;
}

a.vue-test-class-react,
a.react-test-class-react {
    color: #58c4dc;
}

a.vue-test-class-redux,
a.react-test-class-redux {
    color: #764abc;
}

a.vue-test-class-less,
a.react-test-class-less {
    color: #1d365d;
}

a.vue-test-class-sass,
a.react-test-class-sass {
    color: #bf4080;
}

a.vue-test-class-stylus,
a.react-test-class-stylus {
    color: #6da13f;
}

.test-logo {
    height: 100px;
}

@keyframes animetop {
    0% {
        top: -100px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}
