primary-color = #4CAF50
secondary-color = #ff5722
font-size-base = 14px
font-family-base = 'Arial', sans-serif

border-radius(radius)
  -webkit-border-radius radius
     -moz-border-radius radius
      -ms-border-radius radius
          border-radius radius

