@import './root.css';

@import './components/Index.css';
@import './components/VectorImage.css';
@import './components/MainModal.css';

@keyframes anime-top-framework-test {
    0% {
        top: -160px;
        opacity: 0;
    }

    100% {
        top: 0;
        opacity: 1;
    }
}

@keyframes anime-left-framework-test {
    0% {
        left: -120px;
        opacity: 0;
    }

    100% {
        left: 0;
        opacity: 1;
    }
}
