:root {
    --ft-color-angular: #e53935;
    --ft-color-astro: #7c4dea;
    --ft-color-less: #0277bd;
    --ft-color-lit: #1e78dd;
    --ft-color-nodejs: #8bc34a;
    --ft-color-preact: #673ab8;
    --ft-color-react: #15d8ea;
    --ft-color-sass: #ec407a;
    --ft-color-solid: #5482ba;
    --ft-color-stylus: #c0ca33;
    --ft-color-svelte: #ea3e15;
    --ft-color-typescript: #157acc;
    --ft-color-vite: #ccb18b;
    --ft-color-vue: #41b883;
    --ft-background-color-angular: #d02420;
    --ft-background-color-astro: #6738d5;
    --ft-background-color-less: #0262a8;
    --ft-background-color-lit: #1e63c8;
    --ft-background-color-nodejs: #76ae35;
    --ft-background-color-preact: #5225a3;
    --ft-background-color-react: #15c3d5;
    --ft-background-color-sass: #d72b65;
    --ft-background-color-solid: #3f6da5;
    --ft-background-color-stylus: #abb51e;
    --ft-background-color-svelte: #d52915;
    --ft-background-color-typescript: #1565b7;
    --ft-background-color-vite: #b79c76;
    --ft-background-color-vue: #2ca36e;
    --ft-border-color-angular: #bb2420;
    --ft-border-color-astro: #5223c0;
    --ft-border-color-less: #024d93;
    --ft-border-color-lit: #1e4eb3;
    --ft-border-color-nodejs: #619920;
    --ft-border-color-preact: #3d258e;
    --ft-border-color-react: #15aec0;
    --ft-border-color-sass: #c22b50;
    --ft-border-color-solid: #2a5890;
    --ft-border-color-stylus: #96a01e;
    --ft-border-color-svelte: #c02915;
    --ft-border-color-typescript: #1550a2;
    --ft-border-color-vite: #a28761;
    --ft-border-color-vue: #2c8e59;
    --ft-shadow-color-angular: #e54e4a84;
    --ft-shadow-color-astro: #9162ea84;
    --ft-shadow-color-less: #178cd284;
    --ft-shadow-color-lit: #338ddd84;
    --ft-shadow-color-nodejs: #a0d85f84;
    --ft-shadow-color-preact: #7c4fcd84;
    --ft-shadow-color-react: #2ad8ea84;
    --ft-shadow-color-sass: #ec558f84;
    --ft-shadow-color-solid: #6997cf84;
    --ft-shadow-color-stylus: #d5df4884;
    --ft-shadow-color-svelte: #ea532a84;
    --ft-shadow-color-typescript: #2a8fe184;
    --ft-shadow-color-vite: #e1c6a084;
    --ft-shadow-color-vue: #56cd9884;
}
