#vue-modal {
    position: fixed;
    z-index: 9998;
    top: 0;
    left: 10%;
    transform: translateX(-50%);
    animation: animetop 0.25s;
    padding: 10px 20px;
    margin: 5px 10px;
    border: none;
    background-color: #42b883;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
