.modal-mask {
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    padding-top: 20px;
    overflow: auto;
    min-width: 1200px;
    max-height: 95vh;
    animation: animetop 0.25s;
    font-size: min(2vh, 2vw);
}

.modal-container {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 95%;
    min-height: 80vh;
}

.modal-close-button {
    color: #aaa;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

#vue-modal {
    position: fixed;
    z-index: 9998;
    top: 0;
    right: 25%;
    transform: translateX(-50%);
    animation: animetop 0.25s;
    padding: 10px 20px;
    margin: 5px 10px;
    border: none;
    background-color: #42b883;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}
