.framework-test-header-solid {
    color: var(--ft-color-solid);
}

.btn-framework-test-solid {
    color: #fff !important;
    background-color: var(--ft-color-solid) !important;
    border-color: var(--ft-color-solid) !important;
}

.btn-framework-test-solid:hover {
    color: #fff !important;
    background-color: var(--ft-background-color-solid) !important;
    border-color: var(--ft-border-color-solid) !important;
}

.btn-framework-test-solid:focus {
    color: #fff !important;
    background-color: var(--ft-background-color-solid) !important;
    border-color: var(--ft-border-color-solid) !important;
    box-shadow: 0 0 0 0.2rem var(--ft-shadow-color-solid) !important;
}
