.header-framework-test-vue {
    color: var(--ft-color-vue) !important;
    text-align: center;
}

.button-framework-test-vue {
    color: #fff !important;
    background-color: var(--ft-color-vue) !important;
    border-color: var(--ft-color-vue) !important;
}

.button-framework-test-vue:hover {
    color: #fff !important;
    background-color: var(--ft-background-color-vue) !important;
    border-color: var(--ft-border-color-vue) !important;
}

.button-framework-test-vue:focus {
    color: #fff !important;
    background-color: var(--ft-background-color-vue) !important;
    border-color: var(--ft-border-color-vue) !important;
    box-shadow: 0 0 0 0.2rem var(--ft-shadow-color-vue) !important;
}
