.framework-test-header-lit {
    color: var(--ft-color-lit);
}

.btn-framework-test-lit {
    color: #fff !important;
    background-color: var(--ft-color-lit) !important;
    border-color: var(--ft-color-lit) !important;
}

.btn-framework-test-lit:hover {
    color: #fff !important;
    background-color: var(--ft-background-color-lit) !important;
    border-color: var(--ft-border-color-lit) !important;
}

.btn-framework-test-lit:focus {
    color: #fff !important;
    background-color: var(--ft-background-color-lit) !important;
    border-color: var(--ft-border-color-lit) !important;
    box-shadow: 0 0 0 0.2rem var(--ft-shadow-color-lit) !important;
}
