.react-counter-button {
    appearance: none;
    background: none;
    font-size: 32px;
    padding-left: 12px;
    padding-right: 12px;
    outline: none;
    border: 2px solid transparent;
    color: #58c4dc;
    padding-bottom: 4px;
    cursor: pointer;
    background-color: rgba(112, 76, 182, 0.1);
    border-radius: 2px;
    transition: all 0.15s;
}

.react-counter-row > .react-counter-button {
    margin-left: 4px;
    margin-right: 8px;
}

.react-counter-button:hover,
.react-counter-button:focus {
    border: 2px solid #58c4dc66;
}

.react-counter-button:active {
    background-color: #58c4dc33;
}
