.framework-test-counter-button-react {
    color: #58c4dc;
}

.framework-test-counter-button-react:hover,
.framework-test-counter-button-react:focus {
    border: 2px solid #58c4dc66;
}

.framework-test-counter-button-react:active {
    background-color: #58c4dc33;
}
