.btn-framework-test-react {
    color: #fff !important;
    background-color: #58c4dc !important;
    border-color: #58c4dc !important;
}

.btn-framework-test-react:hover,
.btn-framework-test-react:active {
    color: #fff !important;
    background-color: #58c4dc66 !important;
    border-color: #58c4dc33 !important;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125) !important;
}
