h3.react-test-div {
    margin: 40px 0 0;
}

h1.react-test-h,
h3.react-test-h {
    color: #58c4dc;
}

div.react-test-div {
    display: flex;
    justify-content: space-evenly;
}

div.react-test-div > div {
    display: inline-block;
    margin: 0 10px;
}

div.react-test-div > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a.react-test-a-vue {
    color: #42b883;
}

a.react-test-a-pinia {
    color: #ffd859;
}

a.react-test-a-react {
    color: #58c4dc;
}

a.react-test-a-redux {
    color: #764abc;
}

a.react-test-a-less {
    color: #1d365d;
}

a.react-test-a-sass {
    color: #bf4080;
}

a.react-test-a-stylus {
    color: #6da13f;
}

a.react-test-a-preact {
    color: #673ab8;
}

a.react-test-a-lit {
    color: #2843f6;
}

a.react-test-a-svelte {
    color: #f96743;
}

a.react-test-a-solid {
    color: #446b9e;
}

.test-logo {
    height: 128px;
}

.test-large-logo.react {
    height: 160px;
    animation: rotate-react 8s linear infinite;
}

@keyframes rotate-react {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
