div.react-test-class {
    display: flex;
    justify-content: space-between;
}

div.react-test-class > div > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h3.react-test-class {
    margin: 40px 0 0;
}

div.react-test-class {
    list-style-type: none;
    padding: 0;
}

div.react-test-class > div {
    display: inline-block;
    margin: 0 10px;
}

a.react-test-class-vue {
    color: #42b883;
}

a.react-test-class-pinia {
    color: #ffd859;
}

a.react-test-class-react {
    color: #58c4dc;
}

a.react-test-class-redux {
    color: #764abc;
}

a.react-test-class-less {
    color: #1d365d;
}

a.react-test-class-sass {
    color: #bf4080;
}

a.react-test-class-stylus {
    color: #6da13f;
}

.test-logo {
    height: 128px;
}

.test-large-logo.react {
    height: 160px;
    animation: rotate-react 8s linear infinite;
}

@keyframes rotate-react {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
