.framework-test-header-react {
    color: var(--ft-color-react);
}

.btn-framework-test-react {
    color: #fff !important;
    background-color: var(--ft-color-react) !important;
    border-color: var(--ft-color-react) !important;
}

.btn-framework-test-react:hover {
    color: #fff !important;
    background-color: var(--ft-background-color-react) !important;
    border-color: var(--ft-border-color-react) !important;
}

.btn-framework-test-react:focus {
    color: #fff !important;
    background-color: var(--ft-background-color-react) !important;
    border-color: var(--ft-border-color-react) !important;
    box-shadow: 0 0 0 0.2rem var(--ft-shadow-color-react) !important;
}
